.head{
    background-color:#e5e5e5;padding:5px;text-align:center;
}

.menu {
    background-color: #e5e5e5;
    float: left;
    width: 30%;
   height: 200px;
    margin-top: 7px;
    text-align: center;
  }
  
  
  .main {
    text-align: center;
    float: left;
    width: 70%;
    margin-top: 7px;
    background-color:bisque;
    height: 200px;

  }
  .footer{
    background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;
  }
  @media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .menu, .main {
      width: 100%;
    }}